.cardChild {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--minimal-decor-inspiration-with-these-tiny-plants);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-image: url(/public/rectangle13@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.herb {
  position: absolute;
  top: -30px;
  left: calc(50% - 32px);
  font-size: var(--heading-3-30-size);
  line-height: 100%;
  font-family: var(--heading-4-24);
  color: var(--light-text-default);
  text-align: center;
}
.card {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--minimal-decor-inspiration-with-these-tiny-plants);
  position: relative;
  box-shadow: var(--card-shadow-1);
  width: 300px;
  height: 225px;
}
