@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --heading-4-24: "Abhaya Libre";

  /* font sizes */
  --heading-4-24-size: 24px;
  --heading-3-30-size: 30px;
  --heading-1-80-size: 80px;
  --font-size-xl: 20px;

  /* Colors */
  --drak-text-default: #fff;
  --light-button-primary: #375739;
  --light-text-default: #000;
  --color-darkslategray: #213f36;
  --color-green: #1d810d;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-29xl: 48px;

  /* border radiuses */
  --br-21xl: 40px;
  --br-xl: 20px;

  /* Effects */
  --button-shadow-1: 0px 10px 20px rgba(0, 0, 0, 0.15);
  --card-shadow-1: 0px 15px 30px rgba(0, 0, 0, 0.15);
}
